#nav_desktop,
.name img,
.social {
  animation: 2s forwards navBarre;
}
.name_web_site h1,
nav ul li a {
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
  color: #000;
}
.name_web_site img,
.video img {
  transform: translate(-50%, -50%);
}
.btn_decouvrire a,
.name_behance,
.title_inspiration,
nav ul li a {
  text-transform: uppercase;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img,
video {
  object-fit: cover;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  background-color: #171717;
  cursor: url("/Assets/logo/cursor-black.png"), auto;
}
.button_footer .parlons-maintenant-button:hover,
a,
nav ul li a:hover {
  cursor: url("/Assets/logo/cursor-pointer.png"), auto;
}
header,
main {
  background-color: #d5ff3f;
}
a {
  text-decoration: none !important;
}
@font-face {
  font-family: IntegralCF-Bold;
  src: url(/Fonts/IntegralCF-Bold.woff2) format("woff2");
}
@font-face {
  font-family: Garrison_Regular;
  src: url(/Fonts/Garrison_Sans_Regular.ttf) format("truetype");
}
* {
  scrollbar-width: thin;
  scrollbar-color: #d5ff3f #181818;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #181818;
}
::-webkit-scrollbar-track:hover {
  background-color: #181818;
}
::-webkit-scrollbar-track:active {
  background-color: #181818;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d5ff3f;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bfdb00;
}
::-webkit-scrollbar-thumb:active {
  background-color: #d5ff3f;
}
.name {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #d5ff3f;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}
@keyframes navBarre {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.name img {
  margin-right: auto;
  width: 14%;
  height: auto;
}
nav {
  padding-right: 8vh;
  transition: 0.3s;
  animation-delay: 0.4s;
  transform: scale(1);
}
nav li,
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav ul li a {
  padding: 0 15px;
  transition: transform 0.3s;
}
nav ul li a:hover {
  transform: scale(1.2);
}
.social {
  display: flex;
  gap: 13px;
}
.logo_nav i,
.social i {
  font-size: 30px;
  color: #000;
}
.btn_inspiration,
.nav_mobile {
  display: none;
}
.excellence,
.flex_presentation {
  display: flex;
  align-items: center;
}
.name_web_site {
  padding-left: 15px;
  padding-top: 60px;
  line-height: 0;
  position: relative;
}
.name_web_site h1 {
  font-size: 150px;
}
.bubble,
.button_footer .parlons-maintenant-button,
.button_footer .suivez-nous-button,
.presentation p {
  font-family: Garrison_Regular, "Martel Sans", sans-serif;
}
.name_web_site img {
  position: absolute;
  top: 64%;
  left: 80%;
  width: 20%;
}
.subtitle_header {
  font-size: 40px !important;
  padding-left: 12px;
}
.flex_presentation {
  justify-content: space-between;
}
.presentation {
  width: 35%;
  text-align: right;
  margin-left: auto;
}
.presentation p {
  font-size: 20px;
  margin-right: 15%;
}
.bubble,
.bubble i {
  font-size: 18px;
}
.excellence {
  padding-left: 15px;
}
.bubble,
.video {
  display: flex;
  align-items: center;
}
.img_bar_header img {
  width: 60%;
}
.bubble {
  justify-content: center;
  width: 170px;
  height: 35px;
  border-radius: 35px;
  border: 1px solid;
  gap: 10px;
  text-align: center;
  margin: 20px;
}
.annonce_content,
.service_main {
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
}
.video {
  justify-content: center;
  padding-top: 100px;
  position: relative;
}
.video img {
  position: absolute;
  top: 16%;
  left: 84%;
  width: 14%;
}
.video video {
  width: 90%;
  max-height: 700px;
  overflow: hidden;
  border-radius: 80px 80px 0 0;
}
.zone_annonce {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #080808;
}
.annonce_content {
  display: inline-block;
  white-space: nowrap;
  padding: 25px 0;
  font-size: 23px;
  letter-spacing: 2px;
  color: #d5ff3f;
  animation: 30s linear infinite move;
}
.bulle,
.button_footer .parlons-maintenant-button,
.button_footer .suivez-nous-button {
  font-weight: 700;
  transition: 0.3s;
  animation-delay: 0.4s;
  display: flex;
  height: 50px;
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}
@keyframes move {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}
.button_footer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button_footer .parlons-maintenant-button {
  width: 200px;
  border: 1px solid #000;
  border-radius: 25px;
  background-color: #000;
  color: #d5ff3f;
  align-items: center;
  justify-content: center;
  transform: scale(1);
}
.button_footer .parlons-maintenant-button:hover {
  transform: scale(1.1);
  background-color: #d5ff3f;
  color: #000;
}
.button_footer .suivez-nous-button {
  width: 200px;
  border: 1px solid #000;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  color: #000;
  transform: scale(1);
}
.button_footer .suivez-nous-button:hover {
  cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
  transform: scale(1.1);
  background-color: #000;
  color: #d5ff3f;
}
.content_main,
footer {
  background-color: #171717;
  cursor: url("/Assets/logo/cursor-jaune.png"), auto;
}
.service_main {
  font-size: 80px;
  padding: 20px;
  color: #cfcfcf;
}
.bulle,
.overlay-content p,
.text_descriptif,
a {
  font-family: Garrison_Regular, "Martel Sans", sans-serif;
}
.dote {
  color: #d5ff3f;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.text_descriptif {
  width: 30%;
  padding: 20px;
  color: grey;
  text-align: justify;
  font-size: 25px;
}
.grid_flex {
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.bulle {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid grey;
  width: 180px;
  justify-content: center;
  align-items: center;
  transform: scale(1);
}
.bulle:hover {
  transform: scale(1.1);
  background-color: #000;
  border: none;
}
.scroll-animation {
  opacity: 0;
  transform: translateY(-50px);
}
.scroll-animation.active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}
.bulle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.bulle i {
  font-size: 16px;
  color: grey;
}
.bulle,
a {
  font-size: 20px;
  color: #818181;
  cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.overlay-content {
  width: 30%;
  background: #181818;
  padding: 20px;
  border-radius: 10px;
  animation: 0.4s forwards infoOverlay;
}
@keyframes infoOverlay {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.overlay-content i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: grey;
}
.overlay-content p {
  padding-top: 15px;
  text-align: justify;
  font-size: 20px;
  color: grey;
}
#politique,
.title_pack {
  text-align: center;
}
.bg_ifo_création {
  margin-top: 10px;
  background-color: #d5ff3f;
  width: 100%;
  height: 600px;
  cursor: url("/Assets/logo/cursor-black.png"), auto;
  position: relative;
}
.btn_decouvrire a,
.scroll_contact {
  background-color: #000;
  font-weight: 700;
  transition: 0.3s;
  animation-delay: 0.4s;
}
.flex_info {
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
  padding-top: 7%;
  padding-left: 16%;
  line-height: 20px;
}
.ifo_création,
.scroll_contact {
  font-family: Garrison_Regular, "Martel Sans", sans-serif;
  font-size: 20px;
}
.flex_info h1 {
  font-size: 75px;
}
.flex_info h2 {
  font-size: 25px;
  padding-left: 10px;
}
.ifo_création {
  padding-left: 16.5%;
  width: 65%;
}
.scroll_contact {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: none;
  width: 23%;
  height: 60px;
  color: #d5ff3f;
  cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
  transform: scale(1);
}
.carré_text,
.projet,
.title_pack {
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
}
.contenair_follow_us,
.cursor,
.gallery img,
.title_pack {
  cursor: url("/Assets/logo/cursor-black.png"), auto;
}
.scroll_contact:hover {
  transform: scale(1.04);
}
.title_pack {
  background-color: #d5ff3f;
  font-size: 42px;
}
.contenair_text {
  width: 73%;
  height: 900px;
  background-color: #292929;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}
.background_politique,
.contenair_follow_us {
  background-color: #d5ff3f;
}
.name_behance,
.projet {
  display: flex;
  align-items: center;
}
.carré_text {
  color: #cfcfcf;
  text-align: justify;
  font-size: 60px;
  width: 80%;
  line-height: 70px;
}
.carré_text .img1 img {
  width: 200px;
  height: 50px;
  border-radius: 50px;
}
.carré_text .img2 img,
.carré_text .img3 img {
  width: 150px;
  height: 50px;
  border-radius: 50px;
}
.carré_text .img4 img {
  width: 9%;
  border-radius: 50px;
}
.projet {
  color: #cfcfcf;
  font-size: 80px;
  padding: 20px;
  justify-content: space-between;
}
.phrase_creative {
  font-size: 16px;
  width: 30%;
  font-family: Garrison_Regular, "Martel Sans", sans-serif;
  font-weight: 700;
  color: grey;
  padding-top: 60px;
  padding-right: 5%;
  line-height: 30px;
}
.contenair_follow_us h6,
.name_behance {
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
}
.dote3 {
  padding-top: 30px;
  padding-left: 60%;
}
.space,
h2 {
  padding-top: 20px;
}
.dote3 img {
  width: 100%;
  height: auto;
}
.contenair_porfolio {
  position: relative;
}
.name_behance {
  position: absolute;
  top: 70%;
  left: 5vw;
  color: #cfcfcf;
  font-size: 5vw;
  transform: rotate(-90deg);
  transform-origin: 0 50%;
}
.contenair_follow_us,
.gallery {
  align-items: center;
  display: flex;
}
.barre-verticale {
  position: absolute;
  top: 35%;
  right: 0;
  left: 9vw;
  border-left: 2px solid #d5ff3f;
  height: 19.5vh;
}
.gallery {
  width: 100%;
  height: auto;
  justify-content: center;
}
.gallery img {
  width: 77%;
  height: auto;
  transition: 0.3s;
  animation-delay: 0.4s;
  transform: scale(1);
}
.gallery img:hover {
  transform: scale(1.03);
}
.contenair_follow_us {
  width: 90%;
  height: 800px;
  border-radius: 0 0 100px 100px;
  margin: 100px auto;
  justify-content: center;
  position: relative;
}
.contenair_follow_us img {
  width: 90%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contenair_follow_us h6 {
  width: 60%;
  margin: 0 auto;
  font-size: 100px;
  text-align: center;
}
.copyright,
.documents,
.politique {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: Garrison_Regular, "Martel Sans", sans-serif;
  font-size: 12px;
  color: #d5ff3f;
  text-transform: uppercase;
}
.title_politique,
h2 {
  color: #000;
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
}
#logo_du_site_politique {
  width: 100%;
}
.title_politique {
  font-size: 30px;
}
.btn_decouvrire a,
.informations-collectées,
.police_g,
.title_inspiration p,
section p {
  font-family: Garrison_Regular, "Martel Sans", sans-serif;
}
.lien_web {
  color: #06c;
  cursor: url("/Assets/logo/cursor-pointer.png"), auto;
}
section p {
  margin-top: 20px;
}
.content-follow {
  background-color: grey;
}
.background_container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.rectangle_horizontal {
  width: 90%;
  height: 80vh;
  background-color: #d5ff3f;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50px 0 55px;
}
.logo_nav {
  display: flex;
  align-items: center;
}
.rectangle_horizontal img {
  width: 45%;
  margin: 40px;
}
.rectangle_vertical {
  width: 40%;
  height: 100vh;
  background-color: #292929;
  position: absolute;
  top: 0;
  right: 0;
  left: 60;
  z-index: 1;
}
.contenair_text_inspiration {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.title_inspiration {
  padding-left: 40px;
  width: 35%;
  font-family: IntegralCF-Bold, "Russo One", sans-serif;
  font-size: 60px;
}
.title_inspiration h1 {
  margin: 0;
  line-height: 100px;
}
.title_inspiration p {
  margin: 0;
  padding-top: 30px;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
}
.btn_decouvrire a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  width: 25%;
  height: 10vh;
  color: #d5ff3f;
  font-size: 20px;
  cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
  border-radius: 20px 0;
  transform: scale(1);
}
.btn_decouvrire a:hover {
  transform: scale(1.05);
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
}
.abstract {
  position: absolute;
  top: 0;
  left: 51%;
  width: 50%;
  height: 80vh;
  z-index: 9999;
}
.abstract video {
  width: 100%;
  height: 100%;
  border-radius: 0 0 50px;
}
@media screen and (min-width: 769px) and (max-width: 1075px) {
  .overlay a:focus,
  .overlay_mobile a:hover,
  .service_main {
    color: #cfcfcf;
  }
  .flex_info,
  .overlay_mobile a,
  .service_main {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
  }
  * {
    cursor: none;
  }
  #nav_desktop {
    width: 70%;
    display: none;
  }
  .nav_mobile {
    display: contents;
  }
  .ouvrir-overlay-mobile {
    font-size: 30px;
    animation: 2s forwards navBarre;
  }
  .overlay_mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content_mobile {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay_mobile a {
    padding: 8px;
    text-decoration: none;
    font-size: 55px;
    display: block;
    transition: 0.3s;
    color: #cfcfcf;
    cursor: none;
  }
  .img_bar_header img,
  nav ul li {
    display: none;
  }
  .gallery img,
  ul li:hover {
    cursor: url("/Assets/logo/cursor-pointer.png"), auto;
  }
  .overlay_mobile .closebtn {
    position: absolute;
    top: 50px;
    right: auto;
  }
  .closebtn i {
    font-size: 30px;
  }
  @media screen and (max-height: 450px) {
    .overlay_mobile a {
      font-size: 20px;
    }
    .overlay_mobile .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .social {
    display: flex;
    gap: 13px;
    padding-right: 20px;
  }
  .logo_nav i,
  .social i {
    font-size: 30px;
    color: #000;
  }
  .name img {
    margin-right: auto;
    width: 20%;
    height: auto;
  }
  nav ul li {
    transition: none;
  }
  ul li:hover {
    transform: none;
  }
  .name_web_site h1 {
    font-size: 100px;
  }
  .name_web_site img {
    position: absolute;
    top: 65%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
  }
  .btn_decouvrire a,
  .btn_decouvrire a:hover,
  .gallery img:hover {
    transform: scale(1);
  }
  .subtitle_header {
    font-size: 30px !important;
  }
  .presentation {
    width: 50%;
  }
  .presentation p {
    margin-right: 10%;
    padding-top: 10%;
  }
  .excellence {
    display: flex;
    align-items: center;
    padding-left: 15px;
  }
  .service_main {
    font-size: 60px;
    padding: 20px;
  }
  .bg_ifo_création {
    margin-top: 5%;
    background-color: #d5ff3f;
    width: 100%;
    height: 600px;
    cursor: url("/Assets/logo/cursor-black.png"), auto;
    position: relative;
  }
  .btn_decouvrire a,
  .scroll_contact {
    background-color: #000;
    color: #d5ff3f;
    transition: 0.3s;
    animation-delay: 0.4s;
  }
  .flex_info {
    padding-top: 7%;
    padding-left: 5%;
    line-height: 10px;
  }
  .ifo_création,
  .scroll_contact,
  .text_descriptif {
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
  }
  .flex_info h1 {
    font-size: 30px;
    padding-left: 5px;
  }
  .flex_info h2 {
    font-size: 15px;
  }
  .ifo_création {
    padding-left: 6%;
    font-size: 20px;
    width: 90%;
  }
  .scroll_contact {
    position: absolute;
    top: 75%;
    left: 28%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: none;
    width: 45%;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
    transform: scale(1);
  }
  .scroll_contact:hover {
    transform: scale(1.04);
  }
  .contenair_follow_us {
    width: 100%;
  }
  .contenair_follow_us img {
    width: 90%;
  }
  .contenair_follow_us h6 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
  }
  .dote {
    color: #d5ff3f;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .text_descriptif {
    width: 60%;
    padding: 20px;
    color: grey;
    text-align: justify;
    font-size: 25px;
  }
  .carré_text,
  .projet {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
  }
  .contenair_text {
    width: 95%;
    height: 700px;
    background-color: #292929;
    margin: 65px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
  }
  .name_behance,
  .projet {
    color: #cfcfcf;
    display: flex;
    align-items: center;
  }
  .carré_text {
    color: #cfcfcf;
    text-align: justify;
    font-size: 35px;
    width: 86%;
    line-height: 60px;
  }
  .carré_text .img1 img {
    width: 200px;
    height: 50px;
    border-radius: 50px;
  }
  .carré_text .img2 img {
    width: 100px;
    height: 50px;
    border-radius: 50%;
  }
  .carré_text .img3 img {
    width: 150px;
    height: 50px;
  }
  .grid_flex {
    width: 90%;
    margin-left: 14%;
  }
  .overlay-content {
    width: 85%;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
  }
  .projet {
    font-size: 55px;
    padding: 20px;
    justify-content: space-between;
  }
  .phrase_creative,
  .title_inspiration p {
    font-size: 16px;
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
    font-weight: 700;
  }
  .phrase_creative {
    width: 45%;
    padding-top: 100px;
    line-height: 30px;
    text-align: right;
  }
  .name_behance,
  .title_inspiration {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    text-transform: uppercase;
  }
  .dote3 {
    padding-top: 10px;
    padding-left: 10%;
  }
  .name_behance {
    position: absolute;
    top: 66%;
    left: 5vw;
    font-size: 4vw;
    transform: rotate(-90deg);
    transform-origin: 0 50%;
  }
  .background_container,
  .gallery {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .barre-verticale {
    position: absolute;
    top: 35%;
    right: 0;
    left: 9vw;
    border-left: 2px solid #d5ff3f;
    height: 8vh;
  }
  .gallery {
    height: auto;
    justify-content: center;
  }
  .gallery img {
    width: 80%;
    height: auto;
  }
  .content-follow {
    background-color: grey;
  }
  .background_container {
    height: 100vh;
    justify-content: center;
    position: relative;
  }
  .logo_nav,
  .title_inspiration {
    align-items: center;
    display: flex;
  }
  .rectangle_horizontal {
    width: 90%;
    height: 80vh;
    background-color: #d5ff3f;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50px 0 55px;
  }
  .rectangle_horizontal img {
    width: 90%;
    margin: 40px;
  }
  .rectangle_vertical {
    width: 100%;
    height: 55vh;
    background-color: #292929;
    position: absolute;
    top: 45%;
    right: 0;
    z-index: 1;
  }
  .contenair_text_inspiration {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .title_inspiration {
    padding-left: 5%;
    width: 80%;
    font-size: 60px;
    flex-direction: column;
  }
  .title_inspiration h1 {
    margin: 0;
    line-height: 100px;
  }
  .title_inspiration p {
    margin: 0;
    padding-top: 30px;
    font-style: italic;
  }
  .btn_decouvrire a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    width: 35%;
    height: 8vh;
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
    border-radius: 20px 0;
  }
  .abstract {
    position: absolute;
    top: 70.5%;
    left: 0;
    width: 100%;
    height: 25vh;
    z-index: 9999;
  }
  .abstract video {
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .card:hover,
  .card_special:hover {
    box-shadow: rgba(0, 0, 0, 0.56) 0 22px 70px 4px;
  }
  * {
    cursor: none;
  }
  .name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
  .name img {
    margin-right: auto;
    width: 30%;
    height: auto;
  }
  #nav_desktop,
  .barre-verticale,
  .carré_text .img1 img,
  .carré_text .img2 img,
  .carré_text .img3 img,
  .carré_text .img4 img,
  .email,
  .img_bar_header img,
  .name_behance,
  .name_web_site img,
  .video img {
    display: none;
  }
  .nav_mobile {
    display: contents;
  }
  nav i {
    padding: 0 15px;
    font-size: 25px;
    animation: 2s forwards navBarre;
  }
  .closebtn i,
  .ouvrir-overlay-mobile {
    font-size: 30px;
  }
  .overlay_mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content_mobile {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay_mobile a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    display: block;
    transition: 0.3s;
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    color: #cfcfcf;
    cursor: none;
  }
  .bubble p,
  .contactMe,
  .presentation p {
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
  }
  .overlay a:focus,
  .overlay_mobile a:hover {
    color: #cfcfcf;
  }
  .overlay_mobile .closebtn {
    position: absolute;
    top: 50px;
    right: auto;
  }
  @media screen and (max-height: 450px) {
    .overlay_mobile a {
      font-size: 20px;
    }
    .overlay_mobile .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  .social {
    display: flex;
    gap: 13px;
  }
  .social i {
    font-size: 25px;
    color: #000;
  }
  .name_web_site {
    padding-left: 15px;
  }
  .name_web_site h1 {
    font-size: 50px;
  }
  .subtitle_header {
    font-size: 15px !important;
    padding-left: 5px;
  }
  .flex_presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .bubble,
  .excellence {
    display: flex;
    align-items: center;
  }
  .presentation {
    width: 95%;
    text-align: left;
    padding-top: 45px;
  }
  .presentation p {
    font-size: 20px;
  }
  .bubble i,
  .bubble p {
    font-size: 18px;
    color: #000000db;
  }
  .excellence {
    justify-content: center;
    padding-top: 10px;
    width: 95%;
  }
  .bubble {
    justify-content: center;
    width: 170px;
    height: 35px;
    border-radius: 35px;
    border: none;
    gap: 0;
    margin: 10px;
  }
  .btn_inspiration,
  .bubble p {
    display: flex;
    align-items: center;
  }
  .bubble i {
    margin-bottom: 4px;
  }
  .bubble p {
    justify-content: center;
    text-align: center;
    margin: 20px;
  }
  .btn_inspiration {
    justify-content: center;
    border: 2px solid rgba(255, 0, 0, 0.31);
    border-radius: 30px;
    background-color: #000;
    height: 60px;
    width: 85%;
    margin: 10% auto 0;
  }
  .container_card,
  .video {
    align-items: center;
    display: flex;
  }
  .contactMe {
    display: contents;
    color: #d5ff3f;
    font-size: 30px;
  }
  .btn_inspiration i {
    padding: 15px;
    font-size: 30px;
    color: #d5ff3f;
    transform: rotate(315deg);
  }
  .video {
    justify-content: center;
    padding-top: 10px;
    position: relative;
  }
  .service_main {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    font-size: 45px;
    padding: 20px;
    color: #cfcfcf;
  }
  .dote {
    color: #d5ff3f;
  }
  .bulle {
    transition: none;
  }
  .bulle:hover {
    transform: none;
    background-color: transparent;
    border: 2px solid grey;
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .text_descriptif {
    width: 93%;
    padding: 20px;
    color: grey;
    text-align: left;
    font-size: 25px;
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
  }
  .card h1,
  .card p,
  .prix {
    text-align: center;
  }
  .bg_ifo_création {
    margin-top: 25px;
    background-color: #d5ff3f;
    width: 100%;
    height: 600px;
    cursor: url("/Assets/logo/cursor-black.png"), auto;
    position: relative;
  }
  .flex_info {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    padding-top: 7%;
    padding-left: 4.5%;
    line-height: 20px;
  }
  .ifo_création,
  .scroll_contact {
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
    font-size: 20px;
  }
  .flex_info h1 {
    font-size: 25px;
  }
  .flex_info h2 {
    font-size: 13px;
    padding-right: 20px;
  }
  .ifo_création {
    padding-left: 7%;
    width: 95%;
  }
  .scroll_contact {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: none;
    width: 80%;
    height: 60px;
    color: #d5ff3f;
    background-color: #000;
    font-weight: 700;
    cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
    transition: 0.3s;
    animation-delay: 0.4s;
    transform: scale(1);
  }
  .scroll_contact:hover {
    transform: scale(1.04);
  }
  .btn_decouvrire a:hover,
  .card,
  .card:hover,
  .gallery img:hover {
    transform: scale(1);
  }
  .container_card {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 2592px;
    background-color: #d5ff3f;
  }
  .conseil,
  .contact_pack {
    color: #d5ff3f;
    display: flex;
    align-items: center;
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
  }
  .card {
    width: 90%;
    height: auto;
    background-color: #171717;
    transition: none;
    animation-delay: none;
  }
  .btn_decouvrire a,
  .card_special,
  .contact_pack {
    background-color: #000;
  }
  .dote3,
  .rectangle_horizontal {
    transform: translate(-50%, -50%);
  }
  .card h1 {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    font-size: 23px;
    padding-top: 15px;
    color: #cfcfcf;
  }
  .bulle p,
  .card p {
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
  }
  .bulle i,
  .bulle p {
    font-size: 17px;
  }
  .card p {
    color: #cfcfcf;
    font-weight: 700;
  }
  .def_prix {
    padding-top: 20px;
    padding-right: 30%;
    font-size: 18px;
  }
  .prix {
    font-size: 50px;
  }
  .proposition {
    font-size: 16px;
  }
  .contact_pack {
    margin-top: 16%;
    width: 100%;
    height: 60px;
    justify-content: center;
  }
  .conseil,
  .contact_pack_special,
  .contenair_text {
    background-color: #292929;
  }
  .contact_pack_special {
    color: #d5ff3f;
    margin-top: 21%;
  }
  .conseil {
    width: 100%;
    height: 55px;
    justify-content: center;
  }
  .contenair_text,
  .grid_flex {
    align-items: center;
    display: flex;
  }
  .card-top {
    margin-top: 0;
  }
  .contenair_text {
    width: 100%;
    height: 300px;
    margin: 25px auto;
    justify-content: center;
    letter-spacing: 2px;
  }
  .carré_text {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    color: #cfcfcf;
    text-align: justify;
    font-size: 15px;
    width: 95%;
    line-height: 23px;
  }
  .grid_flex {
    width: 95%;
    justify-content: center;
    padding-left: 10px;
    gap: 20px;
  }
  .bulle {
    width: 90%;
  }
  .bulle-content {
    text-align: center;
    gap: 10px;
  }
  .bulle p {
    color: #818181;
  }
  .contenair_follow_us h6,
  .projet {
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
  }
  .overlay-content {
    width: 90%;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
  }
  .contenair_follow_us {
    width: 100%;
    height: 500px;
    border-radius: 0 0 50px 50px;
    margin: 50px auto;
  }
  .contenair_follow_us img {
    width: 100%;
    top: 10%;
  }
  .contenair_follow_us h6 {
    width: 60%;
    margin-bottom: 100px;
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button_footer {
    flex-direction: column;
  }
  .gallery,
  .projet {
    align-items: center;
    display: flex;
  }
  .button_footer .parlons-maintenant-button {
    width: 300px;
  }
  .button_footer .suivez-nous-button {
    width: 300px;
    border-radius: 25px;
  }
  .projet {
    color: #cfcfcf;
    font-size: 45px;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
  }
  .btn_decouvrire a,
  .copyright,
  .documents,
  .phrase_creative,
  .politique,
  .title_inspiration p {
    font-family: Garrison_Regular, "Martel Sans", sans-serif;
  }
  .phrase_creative {
    font-size: 16px;
    width: 90%;
    font-weight: 700;
    padding-top: 65px;
    line-height: 25px;
    text-align: center;
    position: relative;
  }
  .dote3,
  .gallery,
  .gallery img,
  .logo_du_site_politique img {
    width: 100%;
  }
  .dote3 {
    position: absolute;
    top: 15%;
    left: 16%;
    height: auto;
  }
  .gallery {
    height: auto;
    justify-content: center;
  }
  .gallery img {
    height: auto;
    cursor: url("/Assets/logo/cursor-pointer.png"), auto;
  }
  .copyright,
  .documents,
  .politique {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    color: #d5ff3f;
    text-transform: uppercase;
  }
  .content-follow {
    background-color: grey;
  }
  .background_container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .logo_nav,
  .title_inspiration {
    align-items: center;
    display: flex;
  }
  .rectangle_horizontal {
    width: 90%;
    height: 600px;
    background-color: #d5ff3f;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-radius: 50px 0 55px;
  }
  .logo_nav i {
    font-size: 30px;
    color: #000;
  }
  .rectangle_horizontal img {
    width: 82%;
    margin: 30px;
  }
  .rectangle_vertical {
    width: 100%;
    height: 50vh;
    background-color: #292929;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
  }
  .contenair_text_inspiration {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .title_inspiration {
    padding-left: 30px;
    padding-top: 0;
    width: 80%;
    font-family: IntegralCF-Bold, "Russo One", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    flex-direction: column;
  }
  .title_inspiration h1 {
    margin: 0;
    line-height: 55px;
  }
  .title_inspiration p {
    margin: 0;
    padding-top: 25px;
    font-weight: 700;
    font-size: 12px;
    font-style: italic;
  }
  .btn_decouvrire a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 60%;
    height: 60px;
    color: #d5ff3f;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
    border-radius: 20px 0;
    transition: none;
  }
  .abstract {
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    height: 35%;
    z-index: 9999;
  }
  .abstract video {
    width: 100%;
    height: 100%;
    border-radius: 0 0 50px;
  }
}
