/* Réinitialisation */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  object-fit: cover;
}

body {
  width: 100%;
  background-color: #dfff00;
}
a {
  text-decoration: none !important;
}
/*FONT*/
@font-face {
  font-family: "IntegralCF-Bold";
  src: url(/Fonts/IntegralCF-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Garrison_Regular";
  src: url(/Fonts/Garrison_Sans_Regular.ttf) format("truetype");
}
/*
@font-face {
  font-family: "RussoOne-Regular";
  src: url(/Fonts/RussoOne-Regular.ttf) format("truetype");
}*/

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");

/*END FONT*/

/*scrollbar*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dfff00 #181818;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #181818;
}

*::-webkit-scrollbar-track:hover {
  background-color: #181818;
}

*::-webkit-scrollbar-track:active {
  background-color: #181818;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #dfff00;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bfdb00;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #dfff00;
}
/* end scrollbar*/

.container_loading {
  z-index: 9999999999999999999;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: container 2s ease-out forwards;
}

@-webkit-keyframes container {
  0%,
  90% {
    opacity: 1;
    background-color: #181818;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes container {
  0%,
  90% {
    opacity: 1;
    background-color: #181818;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.logo_loader {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo_loader img {
  width: 40%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  -webkit-animation: logo 1s ease-in-out 0s 3 normal forwards;
  animation: logo 1s ease-in-out 0s 3 normal forwards;
}

@-webkit-keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* verison globlal Desktop */

.name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.name h1 {
  margin-right: 80%;
}

.social {
  display: flex;
  gap: 13px;
}

.social i {
  font-size: 30px;
  color: #000000;
}

.name h1 {
  font-size: 20px;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  color: black;
}

.name_web_site {
  padding-left: 15px;
  padding-top: 45px;
  line-height: 100px;
}

.name_web_site h2 {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 150px;
  color: black;
}

.subtitle_header {
  font-size: 53px !important;
}

.flex_presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.presentation {
  width: 35%;
  text-align: right;
}

.presentation p {
  font-size: 25px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  margin-right: 20%;
}

.excellence {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 15px;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 35px;
  border-radius: 35px;
  border: solid 1px;
  margin: 10px;
}

.bubble i {
  font-size: 18px;
}

.bubble p {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
}

.contact_mobile {
  display: none;
}

.video_mobile {
  display: none;
}

.video_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 100px;
}

.video_desktop video {
  width: 90%;
  max-height: 700px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 80px 80px 0px 0px;
}

.zone_annonce {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #080808;
}

.annonce_content {
  display: inline-block;
  white-space: nowrap;
  padding: 25px 0px;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
  color: #ffff00;
  animation: move 30s linear infinite;

  animation-delay: 0s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}

footer {
  background-color: #181818;
}

.service_footer {
  font-family: "IntegralCF-Bold";
  font-size: 80px;
  padding: 20px;
  color: #808080;
}

.dote {
  color: #ffff00;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text_footer {
  width: 30%;
  padding: 20px;
  color: #808080;
  text-align: justify;
  font-size: 25px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
}

.grid_flex {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bulle {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #808080;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bulle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.bulle i {
  font-size: 16px;
  color: #808080;
}

.bulle p {
  font-size: 16px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  color: #808080;
}

.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact p {
  font-family: "IntegralCF-Bold";
  font-size: 43px;
  padding: 20px;
  color: #808080;
}

.contact i {
  padding-top: 10px;
  font-size: 37px;
  color: #808080;
}

.mail {
  font-family: "IntegralCF-Bold";
  font-size: 25px;
  padding-left: 20px;
  color: #ffff00;
}

.space {
  padding-top: 20px;
}

/* End verison globlal Desktop */

/* Styles spécifiques aux tablettes (768px < largeur < 1025px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .name h1 {
    margin-right: 70%;
  }

  .name_web_site {
    line-height: 95px;
  }

  .name_web_site h2 {
    font-size: 100px;
  }

  .subtitle_header {
    font-size: 30px !important;
  }

  .presentation {
    width: 45%;
  }

  .presentation p {
    margin-right: 10%;
  }

  .excellence {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 15px;
  }

  .service_footer {
    font-family: "IntegralCF-Bold";
    font-size: 55px;
    padding: 20px;
    color: #808080;
  }

  .dote {
    color: #ffff00;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .text_footer {
    width: 60%;
    padding: 20px;
    color: #808080;
    text-align: justify;
    font-size: 25px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .grid_flex {
    width: 90%;

    margin-left: 14%;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }
  .contact p {
    font-family: "IntegralCF-Bold";
    font-size: 35px;
    padding: 20px;
    color: #808080;
  }

  .contact i {
    padding-top: 10px;
    font-size: 27px;
    color: #808080;
  }

  .mail {
    font-family: "IntegralCF-Bold";
    font-size: 20px;
    padding-left: 20px;
    color: #ffff00;
  }

  .space {
    padding-top: 20px;
  }
}

/* Styles spécifiques aux mobiles (max-width: 768px) */
@media screen and (max-width: 768px) {
  .name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

  .name h1 {
    margin-right: 35%;
  }

  .social {
    display: flex;
    gap: 13px;
  }

  .social i {
    font-size: 25px;
    color: #000000;
  }

  .name_web_site {
    padding-left: 15px;
    padding-top: 15px;
    line-height: 35px;
  }

  .name_web_site h2 {
    font-size: 50px;
  }

  .subtitle_header {
    font-size: 15px !important;
    padding-left: 5px;
  }

  .flex_presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .presentation {
    width: 90%;
    text-align: left;
    padding-top: 45px;
  }

  .presentation p {
    font-size: 20px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    margin-right: 0%;
  }

  .excellence {
    display: flex;
    align-items: center;
    padding-top: 35px;
    width: 95%;
  }

  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 35px;
    border-radius: 35px;
    border: solid 1px;
    margin: 10px;
  }

  .bubble i {
    font-size: 18px;
  }

  .bubble p {
    font-size: 18px;
    text-align: center;
    margin: 20px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .contact_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    background-color: #000000;
    height: 60px;
    width: 85%;
    margin: 15% auto 0 auto;
  }

  .contactMe {
    display: contents;
    color: #ffff00;
    font-size: 30px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .contact_mobile i {
    padding: 15px;
    font-size: 30px;
    color: #ffff00;
    transform: rotate(315deg);
  }

  .service_footer {
    font-family: "IntegralCF-Bold";
    font-size: 44px;
    padding: 20px;
    color: #808080;
  }

  .dote {
    color: #ffff00;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .text_footer {
    width: 93%;
    padding: 20px;
    color: #808080;
    text-align: left;
    font-size: 25px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .grid_flex {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 20px;
  }

  .bulle {
    width: 90%;
  }

  .bulle-content {
    text-align: center;
    gap: 10px;
  }

  .bulle i {
    font-size: 17px;
    color: #808080;
  }

  .bulle p {
    font-size: 17px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    color: #808080;
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .contact p {
    font-family: "IntegralCF-Bold";
    font-size: 40px;
    padding: 20px;
    color: #808080;
    width: 43%;
  }

  .contact i {
    padding-top: 55px;
    font-size: 27px;
    color: #808080;
  }

  .mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    font-family: "IntegralCF-Bold";
    font-size: 15px;
    color: #ffff00;
  }
}
