/* Réinitialisation */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
video {
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;

  cursor: url("/Assets/logo/cursor-black.png"), auto;
}

header,
main {
  background-color: #d5ff3f;
}
a {
  text-decoration: none !important;
  cursor: url("/Assets/logo/cursor-pointer.png"), auto;
}
/*FONT*/
@font-face {
  font-family: "IntegralCF-Bold";
  src: url(/Fonts/IntegralCF-Bold.woff2) format("woff2");
}

@font-face {
  font-family: "Garrison_Regular";
  src: url(/Fonts/Garrison_Sans_Regular.ttf) format("truetype");
}
/*
@font-face {
  font-family: "RussoOne-Regular";
  src: url(/Fonts/RussoOne-Regular.ttf) format("truetype");
}*/

@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");

/*END FONT*/

/*scrollbar*/
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d5ff3f #181818;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #181818;
}

*::-webkit-scrollbar-track:hover {
  background-color: #181818;
}

*::-webkit-scrollbar-track:active {
  background-color: #181818;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d5ff3f;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #bfdb00;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #d5ff3f;
}
/* end scrollbar*/

/* verison globlal Desktop */

.name {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.name img {
  margin-right: auto;
  width: 14%;
}

nav {
  padding-right: 8vh;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 15px;
  color: #000000;
  text-transform: uppercase;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  transition: all 0.3s;
  animation-delay: 400ms;
  transform: scale(1);
}

ul li:hover {
  transform: scale(1.2);
  cursor: url("/Assets/logo/cursor-pointer.png"), auto;
}

/*.name h1 {
  margin-right: auto;
}*/

.social {
  display: flex;
  gap: 13px;
}

.social i {
  font-size: 30px;
  color: #000000;
}

.social i:hover {
  font-size: 30px;
  color: #000000;
  cursor: url("/Assets/logo/cursor-pointer.png"), auto;
}

.nav_mobile {
  display: none;
}

/*.name h1 {
  font-size: 20px;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  color: black;
}*/

.name_web_site {
  padding-left: 15px;
  padding-top: 45px;
  line-height: 100px;
  position: relative;
}

.name_web_site h2 {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 150px;
  color: black;
}

.name_web_site img {
  position: absolute;
  top: 64%;
  left: 80%;
  transform: translate(-50%, -50%);
  width: 20%;
}

.title_site i {
  font-size: 100px;
}

.subtitle_header {
  font-size: 40px !important;
  padding-left: 12px;
}

.flex_presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.presentation {
  width: 35%;
  text-align: right;
}

.presentation p {
  font-size: 20px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  margin-right: 15%;
}

.excellence {
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-left: 15px;
}

.img_bar_header img {
  width: 60%;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 35px;
  border-radius: 35px;
  border: solid 1px;
  gap: 10px;
  margin: 10px;
}

.bubble i {
  font-size: 18px;
}

.bubble {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
}

.contact_mobile {
  display: none;
}

.video {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}
.video img {
  position: absolute;
  top: 16%;
  left: 84%;
  transform: translate(-50%, -50%);
  width: 14%;
}
.video video {
  width: 90%;
  max-height: 700px;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
  border-radius: 80px 80px 0px 0px;
}

.zone_annonce {
  width: 100%;
  height: 80px;
  overflow: hidden;
  background-color: #080808;
}

.annonce_content {
  display: inline-block;
  white-space: nowrap;
  padding: 25px 0px;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
  color: #d5ff3f;
  animation: move 30s linear infinite;

  animation-delay: 0s;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-60%);
    transform: translateX(-60%);
  }
}

.button_footer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.button_footer .parlons-maintenant-button {
  width: 200px;
  height: 50px;
  border: solid 1px #000000;
  border-radius: 25px;
  background-color: #000000;
  color: #d5ff3f;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  font-weight: bold;
  transition: all 0.3s;
  animation-delay: 400ms;
  transform: scale(1);
}

.button_footer .parlons-maintenant-button:hover {
  cursor: url("/Assets/logo/cursor-pointer.png"), auto;
  transform: scale(1.1);
  background-color: #d5ff3f;
  color: #000000;
}

.button_footer .suivez-nous-button {
  width: 200px;
  height: 50px;
  border: solid 1px #000000;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  font-weight: bold;
  color: #000000;
  transition: all 0.3s;
  animation-delay: 400ms;
  transform: scale(1);
}

.button_footer .suivez-nous-button:hover {
  cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
  transform: scale(1.1);
  background-color: #000000;
  color: #d5ff3f;
}

footer {
  background-color: #171717;
  cursor: url("/Assets/logo/cursor-jaune.png"), auto;
}

.service_footer {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 80px;
  padding: 20px;
  color: #cfcfcf;
}

.dote {
  color: #d5ff3f;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.text_footer {
  width: 30%;
  padding: 20px;
  color: #808080;
  text-align: justify;
  font-size: 25px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
}

.grid_flex {
  width: 38%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bulle {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #808080;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s;
  transform: scale(1);
  animation-delay: 400ms;
}

.bulle:hover {
  transform: scale(1.1);
  background-color: #000000;
  border: none;
}

.bulle-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.bulle i {
  font-size: 16px;
  color: #808080;
}

.bulle,
a {
  font-size: 20px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  color: #818181;
  cursor: url("/Assets/logo/cursor_pointer_yellow.png"), auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}

.overlay-content {
  width: 30%;
  background: #181818;
  padding: 20px;
  border-radius: 10px;
  animation: infoOverlay 0.4s ease 0s 1 normal forwards;
}

@keyframes infoOverlay {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
.overlay-content i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  color: #808080;
}

.overlay-content p {
  padding-top: 15px;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  text-align: justify;
  font-size: 20px;
  color: #808080;
}

.contenair_text {
  width: 73%;
  height: 900px;
  background-color: #292929;
  margin: 25px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 4px;
}

.carré_text {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  color: #cfcfcf;
  text-align: justify;
  font-size: 60px;
  width: 80%;
  line-height: 70px;
}

.carré_text .img1 img {
  width: 200px;
  height: 50px;
  border-radius: 50px;
}

.carré_text .img2 img {
  width: 150px;
  height: 50px;
  border-radius: 50px;
}

.carré_text .img3 img {
  width: 150px;
  height: 50px;
  border-radius: 50px;
}

.carré_text .img4 img {
  width: 9%;
  border-radius: 50px;
}
.projet {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  color: #cfcfcf;
  font-size: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.phrase_creative {
  font-size: 16px;
  width: 30%;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  font-weight: bold;
  color: #80808070;
  padding-top: 60px;
  padding-right: 5%;
  line-height: 30px;
}

.dote3 {
  padding-top: 30px;
  padding-left: 60%;
}

.contenair_porfolio {
  position: relative;
}

.name_behance {
  position: absolute;
  top: 66%;
  left: 5vw;
  color: #cfcfcf;
  font-size: 4vw;
  text-transform: uppercase;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  display: flex;
  align-items: center;
  transform: rotate(-90deg);
  transform-origin: 0 50%;
}

.barre-verticale {
  position: absolute;
  top: 35%;
  right: 0;
  left: 9vw;
  border-left: 2px solid #d5ff3f;
  height: 19.5vh;
}

.gallery {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: url("/Assets/logo/cursor-black.png"), auto;
}

.gallery img {
  width: 77%;
  object-fit: cover;
  cursor: url("/Assets/logo/cursor-black.png"), auto;
  transition: all 0.3s;
  animation-delay: 400ms;
  transform: scale(1);
}

.gallery img:hover {
  transform: scale(1.03);
}

.contenair_follow_us {
  width: 90%;
  height: 800px;
  border-radius: 0 0 100px 100px;
  margin: 100px auto;
  background-color: #d5ff3f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: url("/Assets/logo/cursor-black.png"), auto;
  position: relative;
}

.contenair_follow_us img {
  object-fit: cover;
  width: 90%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contenair_follow_us h1 {
  width: 60%;
  margin: 0 auto;
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 100px;
  text-align: center;
}

/*
.contact {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact p {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 55px;
  padding: 20px;
  color: #808080;
}

.contact i {
  padding-top: 10px;
  font-size: 37px;
  color: #808080;
}

.mail {
  font-family: "IntegralCF-Bold", "Russo One", sans-serif;
  font-size: 25px;
  padding-left: 20px;
  color: #d5ff3f;
}
*/
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  font-size: 12px;
  color: #d5ff3f;
  text-transform: uppercase;
}

.space {
  padding-top: 20px;
}

/* End verison globlal Desktop */

/* Styles spécifiques aux tablettes (768px < largeur < 1025px) */
@media screen and (min-width: 769px) and (max-width: 1075px) {
  * {
    cursor: none;
  }

  .name img {
    margin-right: auto;
    width: 20%;
  }

  /*.name h1 {
    margin-right: auto;
  }*/

  nav ul li {
    transition: none;
  }

  ul li:hover {
    transform: none;
    cursor: url("/Assets/logo/cursor-pointer.png"), auto;
  }

  .name_web_site {
    line-height: 75px;
  }

  .name_web_site h2 {
    font-size: 100px;
  }

  .name_web_site img {
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 20%;
  }

  .subtitle_header {
    font-size: 30px !important;
  }

  .presentation {
    width: 45%;
  }

  .presentation p {
    margin-right: 10%;
  }

  .excellence {
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-left: 15px;
  }

  .service_footer {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 55px;
    padding: 20px;
    color: #cfcfcf;
  }
  .img_bar_header img {
    display: none;
  }
  .contenair_follow_us {
    width: 100%;
  }

  .contenair_follow_us img {
    width: 90%;
  }

  .contenair_follow_us h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
  }

  .dote {
    color: #d5ff3f;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .text_footer {
    width: 60%;
    padding: 20px;
    color: #808080;
    text-align: justify;
    font-size: 25px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .contenair_text {
    width: 95%;
    height: 700px;
    background-color: #292929;
    margin: 65px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 4px;
  }

  .carré_text {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    color: #cfcfcf;
    text-align: justify;
    font-size: 35px;
    width: 86%;
    line-height: 60px;
  }

  .carré_text .img1 img {
    width: 200px;
    height: 50px;
    border-radius: 50px;
  }

  .carré_text .img2 img {
    width: 100px;
    height: 50px;
    border-radius: 50%;
  }

  .carré_text .img3 img {
    width: 150px;
    height: 50px;
  }

  .grid_flex {
    width: 90%;

    margin-left: 14%;
  }

  .overlay-content {
    width: 85%;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
  }

  .projet {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    color: #cfcfcf;
    font-size: 55px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .phrase_creative {
    font-size: 16px;
    width: 45%;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    font-weight: bold;
    color: #80808070;
    padding-top: 100px;
    line-height: 30px;
    text-align: right;
  }

  .dote3 {
    padding-top: 10px;
    padding-left: 10%;
  }

  .name_behance {
    position: absolute;
    top: 66%;
    left: 5vw;
    color: #cfcfcf;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    display: flex;
    align-items: center;
    transform: rotate(-90deg);
    transform-origin: 0 50%;
  }

  .barre-verticale {
    position: absolute;
    top: 35%;
    right: 0;
    left: 9vw;
    border-left: 2px solid #d5ff3f;
    height: 8vh;
  }

  .gallery {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery img {
    width: 80%;
    object-fit: cover;
    cursor: url("/Assets/logo/cursor-pointer.png"), auto;
  }
  .gallery img:hover {
    transform: scale(1);
  }
  .contact {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }
  .contact p {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 45px;
    padding: 20px;
    color: #808080;
  }

  .contact i {
    padding-top: 10px;
    font-size: 27px;
    color: #808080;
  }

  .mail {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 20px;
    padding-left: 20px;
    color: #d5ff3f;
  }

  .space {
    padding-top: 20px;
  }
}

/* Styles spécifiques aux mobiles (max-width: 768px) */
@media screen and (max-width: 768px) {
  * {
    cursor: none;
  }

  .name {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }

  /*.name h1 {
    margin-right: auto;
  }*/

  .name img {
    margin-right: auto;
    width: 30%;
  }

  #nav_desktop {
    display: none;
  }

  /* Nav mobile*/
  .nav_mobile {
    display: contents;
  }

  nav i {
    padding: 0 15px;
    font-size: 25px;
  }
  .overlay_mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content_mobile {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay_mobile a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    color: #cfcfcf;
    cursor: none;
  }

  .overlay_mobile a:hover,
  .overlay a:focus {
    color: #cfcfcf;
  }

  .overlay_mobile .closebtn {
    position: absolute;
    top: 50px;
    right: auto;
  }

  .closebtn i {
    font-size: 30px;
  }

  @media screen and (max-height: 450px) {
    .overlay_mobile a {
      font-size: 20px;
    }
    .overlay_mobile .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

  /* End nav mobile*/

  .social {
    display: flex;
    gap: 13px;
  }

  .social i {
    font-size: 25px;
    color: #000000;
  }

  .name_web_site {
    padding-left: 15px;
    padding-top: 15px;
    line-height: 35px;
  }

  .name_web_site h2 {
    font-size: 50px;
  }

  .name_web_site img {
    display: none;
  }

  .subtitle_header {
    font-size: 15px !important;
    padding-left: 5px;
  }

  .flex_presentation {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .img_bar_header img {
    display: none;
  }
  .presentation {
    width: 90%;
    text-align: left;
    padding-top: 45px;
  }

  .presentation p {
    font-size: 20px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    margin-right: 0%;
  }

  .excellence {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    width: 95%;
  }

  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 35px;
    border-radius: 35px;
    border: none;
    gap: 0px;
    margin: 10px;
  }

  .bubble i {
    margin-bottom: 4px;
    font-size: 18px;
    color: #000000db;
  }

  .bubble p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
    margin: 20px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    color: #000000db;
  }

  .contact_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(255, 0, 0, 0.31);
    border-radius: 30px;
    background-color: #000000;
    height: 60px;
    width: 85%;
    margin: 15% auto 0 auto;
  }

  .contactMe {
    display: contents;
    color: #d5ff3f;
    font-size: 30px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .contact_mobile i {
    padding: 15px;
    font-size: 30px;
    color: #d5ff3f;
    transform: rotate(315deg);
  }

  .video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    position: relative;
  }
  /* .video img {
    position: absolute;
    top: 27%;
    left: 75%;
    transform: translate(-50%, -50%);
    width: 30%;
  }*/

  .video img {
    display: none;
  }

  .service_footer {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 44px;
    padding: 20px;
    color: #cfcfcf;
  }

  .dote {
    color: #d5ff3f;
  }

  .bulle {
    transition: none;
  }

  .bulle:hover {
    transform: none;
    background-color: transparent;
    border: 2px solid #808080;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  .text_footer {
    width: 93%;
    padding: 20px;
    color: #808080;
    text-align: left;
    font-size: 25px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
  }

  .contenair_text {
    width: 100%;
    height: 300px;
    background-color: #292929;
    margin: 25px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
  }

  .carré_text {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    color: #cfcfcf;
    text-align: justify;
    font-size: 15px;
    width: 95%;
    line-height: 23px;
  }

  .carré_text .img1 img {
    display: none;
  }

  .carré_text .img2 img {
    display: none;
  }

  .carré_text .img3 img {
    display: none;
  }

  .carré_text .img4 img {
    display: none;
  }

  .grid_flex {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    gap: 20px;
  }
  .bulle {
    width: 90%;
  }

  .bulle-content {
    text-align: center;
    gap: 10px;
  }

  .bulle i {
    font-size: 17px;
  }

  .bulle p {
    font-size: 17px;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    color: #818181;
  }

  .overlay-content {
    width: 90%;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
  }

  .overlay-content i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    color: #808080;
  }

  .name_behance {
    display: none;
  }

  .barre-verticale {
    display: none;
  }

  .contenair_follow_us {
    width: 100%;
    height: 500px;
    border-radius: 0 0 50px 50px;
    margin: 50px auto;
  }

  .contenair_follow_us img {
    object-fit: cover;
    width: 100%;
    top: 10%;
  }

  .contenair_follow_us h1 {
    width: 60%;
    margin-bottom: 100px;
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button_footer {
    flex-direction: column;
  }

  .button_footer .parlons-maintenant-button {
    width: 300px;
  }

  .button_footer .suivez-nous-button {
    width: 300px;

    border-radius: 25px;
  }

  .projet {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    color: #cfcfcf;
    font-size: 45px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  .phrase_creative {
    font-size: 16px;
    width: 90%;
    font-family: "Garrison_Regular", "Martel Sans", sans-serif;
    font-weight: bold;
    color: #80808070;
    padding-top: 65px;
    line-height: 25px;
    text-align: center;
    position: relative;
  }

  .dote3 {
    position: absolute;
    top: 15%;
    left: 16%;
    transform: translate(-50%, -50%);
  }

  .gallery {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery img {
    width: 100%;
    object-fit: cover;
    cursor: url("/Assets/logo/cursor-pointer.png"), auto;
  }

  .gallery img:hover {
    transform: scale(1);
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    width: 100%;
    padding-right: 20px;
  }
  .contact p {
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 25px;
    color: #808080;
  }

  .contact i {
    padding-top: 10px;
    font-size: 20px;
    color: #808080;
  }

  .mail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 25px;
    font-family: "IntegralCF-Bold", "Russo One", sans-serif;
    font-size: 15px;
    color: #d5ff3f;
  }
}
